.App
{
    width: 1000px;
    border: 1px solid black;
    border-radius: 5px;
    height: calc(189px + 440px);
    box-shadow: 0 0 0.5px 2px white;
    background-color: white;
}
.canvas
{
    width: 460px;
    height: 510px;
    border: 1px solid black;
}
.download
{
    text-decoration: none;
    color: black;
    background-color: rgb(102, 255, 0);
    border-radius: 4px;
    padding: 4px;
    border: 0.5px solid rgba(0, 0, 0, 0.5);
}
@media (max-width: 500px){
    .App{
        width: 100%;
        height: auto;
        border: none;
        box-shadow: 0 0 1px 0.5px white;
    }
    .canvas
    {
        max-width: 100%;
        height: 550px;
    }
    
}